@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: inter-regular;
  src: url('./assets/fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
  font-family: jomhuria;
  src: url('./assets/fonts/Jomhuria/Jomhuria-Regular.ttf');
}

@font-face {
  font-family: inter-bold;
  src: url('./assets/fonts/Inter/static/Inter-Bold.ttf');
}


@font-face {
  font-family: inter-black;
  src: url('./assets/fonts/Inter/static/Inter-Black.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inter-regular;
}

body{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: 0;
}

.text-jomhuria {
  font-family: 'jomhuria';
}

@media only screen and (min-width: 1024px){

.scroll-snap {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: 0;
}
}

.section {
  scroll-snap-align: start;
}

.menu-item {
  @apply cursor-pointer hover:border-b-4 hover:border-b-red-500 p-2
  
}


.active{
  @apply border-b-4 border-b-red-500
}


.inter-black {
  font-family: 'inter-black';
}

.inter-bold {
  font-family: inter-bold;
}

.text-ted-red {
color: #ff0000;
}

.hover\:bg-ted-red:hover {
  background-color: #ff0000;
}


.hover-text-ted-red:hover {
color: #ff0000;
}

.bg-ted-red {
  background-color: #ff0000;
}

@media  only screen and (min-width: 768px){
  .md\:w-100 {
    width: 29rem;
  }
}

@media (min-width: 1024px) {
    .lg\:w-11\/13 {
        width: 80.666667%;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar-chrome::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar-firefox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}